In [1]:
import pandas as pd
pd.__version__

'2.3.1'

# Data Preparation â€“ NIFTY 50

This notebook prepares NIFTY 50 historical price data for time-series and
volatility modeling. The output of this step is a clean, chronologically
ordered price series used throughout the project.

In [2]:
import pandas as pd

## Load Data

Import historical NIFTY 50 price data from Excel.

In [3]:
df=pd.read_excel("Nifty 50 Historical Data (1).xlsx")

In [4]:
df.head()

        Date     Price     Open      High       Low     Vol.  Change %
0 2025-11-18  25949.00  26021.8  26023.60  25877.80  142.71M   -0.0025
1 2025-11-17  26013.45  25948.2  26023.45  25908.15  281.77M    0.0040
2 2025-11-14  25910.05  25767.9  25940.20  25740.80  518.94M    0.0012
3 2025-11-13  25879.15  25906.1  26010.70  25808.40  385.17M    0.0001
4 2025-11-12  25875.80  25834.3  25934.55  25781.15  312.59M    0.0070

## Date Formatting

Convert the `Date` column to datetime format for time-series operations.

In [5]:
df['Date'] = pd.to_datetime(df['Date'])

## Variable Selection

Retain only date and closing price, which are required for return and volatility analysis.

In [6]:
df = df[['Date', 'Price']].copy()
df.head()

        Date     Price
0 2025-11-18  25949.00
1 2025-11-17  26013.45
2 2025-11-14  25910.05
3 2025-11-13  25879.15
4 2025-11-12  25875.80

## Sorting

Sort the data chronologically to ensure correct temporal ordering.

In [7]:
df = df.sort_values(by='Date').reset_index(drop=True)
df.head()

        Date   Price
0 2015-01-20  8695.6
1 2015-01-21  8729.5
2 2015-01-22  8761.4
3 2015-01-23  8835.6
4 2015-01-27  8910.5

In [8]:
df.tail()

           Date     Price
2678 2025-11-12  25875.80
2679 2025-11-13  25879.15
2680 2025-11-14  25910.05
2681 2025-11-17  26013.45
2682 2025-11-18  25949.00